<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- additems,itemstatus,Logout -->
    <a href="{{ url_for('additems') }}"><button>Add Items</button></a>
    <a href="{{ url_for('status') }}"><button>Item Status</button></a>  
    <a href="{{ url_for('adminlogout') }}"><button>Logout</button></a>
</body>
</html>