{% extends 'base.html' %}
{% block content %}
<br>
<div class="container" >
    <div class="row">
       <center><label ><h1><b><u>Name:{{items[1]}}</u></b></h1></label><br></center> 
        <div class="col-md-6">
        <img src="{{url_for('static',filename=items[0]+'.jpg')}}" height="550" width="550" /><br>
        </div>
            <div class="col-md-4">
                <h3><b>Discription:</b></h3><p>{{items[2]}}</p>
                <h3><b>Category:</b>{{items[4]}}</h3>
                <h3><b>Price:</b>{{items[5]}}</h3><br>     
                
            </div>
            <div class="col-md-2">
                <form method="post">
                  <select name="quantity" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select><br>
                  <button type="submit" formaction="{{url_for('cart',itemid=items[0],name=items[1],price=items[5])}}" class="btn btn-primary">add cart</button>
                  <button type="submit" formaction="{{url_for('pay',itemid=items[0],name=items[1],price=items[5])}}" class="btn btn-primary">buy now</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}


