<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
    <form method="post">
        <label for="">Username</label>
        <input name="username" type="text"/>
        <label for="">Mobile</label>
        <input name="mobile" type="text"/>
        <label for="">Email id</label>
        <input name="email" type="email"/>
        <label for="">Address</label>
        <input name="address" type="text"/>
        <label for="">Password</label>
        <input name="password" type="password"/>        
        <button>submit</button>
    </form>
</div>
    
</body>
</html>